main{
    position: relative;
    margin-left: 100px;
    margin: 50px;
    height: 700px;
    width: 1000px;
}

.square {
    position: absolute;
	width: 100px;
	height: 100px;
    background: red;
    border: 1px solid black;
    opacity: 0.8;
}

.circle {
    position: absolute;
	width: 450px;
	height: 450px;
	background: green;
    border-radius: 300px;
    border: 1px solid black;
    opacity: 0.8;
}

.triangle {
    position: absolute;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
    border-bottom: 100px solid blue;
    opacity: 0.8;
}